
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
}

.container {
    max-width: 1200px;
    width: 100%;
}

header {
    background-color: #252850;
    padding: 10px;
    border: 20px solid #000;
}

.top-bar {
    display: flex; /* per posar-los en ordre */
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.top-bar div {
    flex: 1; /* ocupa tot el lloc disponible */
    padding: 10px;
    background-color: #ff6b6b;
    text-align: center;
    
}
.banner-container{
    padding: 10px;
    background-color: orange;
    display: flex;
    border: 20px solid #000;
    border-top: 0;
}
.banner {
    flex: 1;
    background-color: yellow;
    text-align: left;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    border: 10px solid orange;
}

.main {
    display: flex; /*em fa dos contenidors i em deixa posar la publicitat a la dreta al ser l'últim*/
    gap: 10px;
    margin: 10px auto; /* adalt i abaix 10px costats auto o 0*/
    background-color: #000;
    border: 20px solid #000;
}

.articles {
    flex: 3; /*perqè ocupi més que la publi */
    display: grid;
    gap: 10px;
    background-color: #252850;
    border: 20px solid #252850;
}

.article {
    background-color: #3498db;
    padding: 10px;
    text-align: left;
}

.navegacion {
    background-color: #74b9ff;
    padding: 10px;
    grid-column: span 2;
    text-align: left;
}

.publicidad {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: red;
    padding: 10px;
}

.publicidad div {
    background-color: #f9ca24;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

footer {
    background-color: #f6e58d;
    padding: 10px;
    border: 20px solid #000;
    text-align: left;
}

@media(max-width: 1024px) {
    .top-bar {
        flex-direction: column;
    }

    .banner {
        padding: 10px;
    }

    .main {
        flex-direction: column;
    }

    .articles {
        grid-template-columns: repeat(2, 1fr); /* 2 columnes */       
    }

    .navegacion {
        grid-column: span 2;
    }

    .publicidad {
        padding: 10px;
        margin-top: 20px;
    }
}
@media(max-width: 768px) {

    .top-bar div {
        margin: 2px;
    }
    .main {
        margin-top: 20px;
    }
    .articles {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
    .navegacion {
        grid-column: span 1;
    }
    footer {
        padding: 10px;
        margin-top: 20px;

    }
}
